<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223985896176-gp3lch0v2dq7840kbgaclf11impv55gt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223985896176-gp3lch0v2dq7840kbgaclf11impv55gt</string>
	<key>API_KEY</key>
	<string>AIzaSyAXINzsmBXxcOJb8xBUV-WJCwgb-JdyAFo</string>
	<key>GCM_SENDER_ID</key>
	<string>223985896176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groceryListApp</string>
	<key>PROJECT_ID</key>
	<string>grocery-list-app-f8098</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-list-app-f8098.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223985896176:ios:6752e148541be1d7379035</string>
</dict>
</plist>